---
---
@import 'variables';

body {
      font-family: $arial;
      margin: 8vw;
}

.container {
      display: flex;
      gap: 20px;
}

.side_column {
      flex: 1;
      padding: 15px;
}

.main_column {
      flex: 2;
      padding: 15px;
}

.page_title {
      color: #E2725B;
      font-size: 15px;
}
