---
---
@import 'variables';


body {
      font-family: "Vend Sans", $arial, sans-serif;
      margin: 8vw;
}

/* removes bullet points from lists */
ul {
      list-style-type: none;
}

.container {
      display: flex;
      gap: 20px;
}

.side_column {
      flex: 1;
      padding: 15px;
}

.main_column {
      flex: 2;
      padding: 15px;
}


