<!DOCTYPE html>
<html lang="en">
<head>    
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ 'style.css' | absolute_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>

<body>
  
<nav>
  <a href="/">Home</a>
</nav>

<h1>The Minimalist</h1>

  
<div class="container">
  <div class="side_column">
    {% for post in site.posts %}
      {% assign currentdate = post.date | date: "%B %Y" %}
      {% assign detailed_date = post.date | date: "%m-%d" %}
      {% if currentdate != date %}
        {% unless forloop.first %}</ul>{% endunless %}
        <h3 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h3>
        <ul>
        {% assign date = currentdate %} 
      {% endif %}
        <li><a href="{{ post.url }}">{{detailed_date}} - {{ post.title }} </a></li>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
  </div>

  <div class="main_column">
     <!-- <h2>{{page.title}}</h2> -->
     {{content}}
  </div>
</div>

  
 

</body>
</html>
