<!DOCTYPE html>
<html lang="en">
<head>    
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ 'style.css' | absolute_url }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
</head>

<body>
  
<nav>
  <a href="/">Home</a>
</nav>

<h1>The Minimalist</h1>


<!-- <details>
  <summary>Details</summary>
  Something small enough to escape casual notice.
</details> -->
  
<div class="container">
  <div class="side_column">
    {% assign monthStamp = post.date | date: "%B" %}

          <details>
            <summary>December</summary>
                {% for post in site.posts | group_by: monthStamp %}
                  <!-- {% if monthStamp == "December" %} -->
                      <a href="{{ post.url }}">{{ post.title }} {{monthStamp}}</a>
                  <!-- {% endif %} -->
                {% endfor %}
            </details>

    
  </div>

  <div class="main_column">
     <!-- <h2>{{page.title}}</h2> -->
     {{content}}
  </div>
</div>

  
 

</body>
</html>
